body {
    background-color: black;
}
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #000000;
    color: #f50000;
  }
  
  .topnav a.active {
    background-color: #ffffff;
    color: black;
  }
  
  .topnav-right {
    float: right;
  }

   img{
      background-color: black;
  }

  .my-footer {
      color:  #ffffff;
  }

